{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}"> <h3 style="font-weight: 400; color:#ffc;">nHub ATTENDANCE MANAGEMENT SYSTEM ADMIN</h3> </a></div>
 <br><h5><a class="" href="/attendance/" style="margin-left:50px">Back to attendance list</a><h5>

{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}